<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
</head>
<body>
    <div>
        <a href="/cars"><button>Cars</button></a>
        <a href="/cats"><button>Cats</button></a>
        <a href="/form"><button>Add Car</button></a>
    </div>
    <div>
        <h1>Cars</h1>
        <img src="lolicar.jpg">
        <img src="fatecar.jpg">
        <img src="Berser-Car.png">
    </div>
</body>
</html>