<div id="component">
    <h1>Dallas, TX</h1>
    <div id="details">
        <h3>Humidity: {{ city.main.humidity }}%</h3>
        <h3>Temp. (Avg): {{ city.main.temp }}°F</h3>
        <h3>Temp. (High): {{ city.main.temp_max }}°F</h3>
        <h3>Temp. (Low): {{ city.main.temp_min }}°F</h3>
        <h3>Status: {{ city.weather[0].description }}</h3>
    </div>
    <img src="https://thumbnails.texastribune.org/QFWNIHadSMyZD0e4Brm7slwv9AM=/850x570/smart/filters:quality(75)/https://static.texastribune.org/media/files/8350a4b252a48880035024a6a565a9df/Dallas%20Skyline%20IS%20TT.jpg" alt="Dallas">
</div>