<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
</head>
<body>
    <div>
        <h1>MY CATS</h1>
    <a href="/cat1"> <img src="cute_cat.jpg" alt="cat" width="300"></a>
    <a href="/cat2"> <img src="Sit_cat.jpg" alt="cat1" width="300"></a>
    <a href="/cat3"> <img src="stick_cat.jpg" alt="cat1" width="300"></a>
    </div>
</body>
</html>